
{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
	<div class="container">
		<div class="row sidebar-page">

			<!-- Page Content -->
			<div class="col-md-9 page-content">	

				<!-- Divider -->
				<h4 class="classic-title"><span>Events</span></h4>
				<div class="latest-posts-classic" >  
					<p>
						Events updates on MaMaSe Sustainable Water Initiative	
					</p>
				</div>
				<div class="row">
					<div class="col-md-12">

						<div class="latest-posts-classic">

							{% if events %}	      
							<!-- Post 1 -->
							{% for item in events %}
							<div class="col-md-12">
								<div class="post-row">
									<div class="left-meta-post">
										<a href="{{ item.url }}"></a>
									</div>
									<h5 class="post-title">{% if item.date %} {{item.date}}</h5> {% else%} </h5> {% endif %}
									<h3 class="post-title"> 
										<a href="{{ item.url }}">{{item.title| title}}</a>
									</h3>
									<div class="post-content">
										<p>{{ item.body|safe }} </p>
										<h6>{{ item.location|safe }}</h6>
									</div>
								</div>
							</div>
							{% endfor %}
							{% endif %}	      
						</div>
					</div>      
				</div>
				<!-- Start Pagination -->
				<div id="pagination" class="pagination">
					<span class="all-pages">Page {{ events.number }} of {{ events.paginator.num_pages }}</span>
					{% if events.has_previous %}
					<a class="next-page" href="#">Previous</a>
					{% endif %}
					<span class="current page-num">{{events.number}}</span>
					{% if events.has_next %}
					<a class="next-page" href="#">Next</a>
					{% endif %}
				</div>
				<!-- End Pagination -->
			</div>      
			<!-- End Page Content-->      
			<!--Sidebar-->
			{% block sidebar %}	
			{% include 'event/event_sidebar.html' %}
			{% endblock%}
			<!--End sidebar-->

		</div>

	</div>
</div>
</div>
</div>
</div>
<!-- End Content -->

{% endblock content %}
{% block partners %}{% endblock %}
