<div class="col-md-3 sidebar right-sidebar">
				
				<!-- Categories Widget -->
				<div class="widget widget-categories">
					<h4>Categories <span class="head-line"></span></h4>
					<ul>
						{% for categ in self.categories %}
						<li>
							<a href="{{request.path}}?category={{categ.name}}">{{categ.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				
				<!-- Popular Events widget -->
				<div class="widget widget-popular-posts">
					<h4>Popular Events <span class="head-line"></span></h4>
					<ul>
						{% for item in events %}
						<li>
							<div class="widget-thumb">
								<a href="{{item.url}}"><img src="{{item.main_image.file.url}}" alt="{{item.main_image.title}}" /></a>
							</div>
							<div class="widget-content">
								<h5><a href="{{item.url}}">{{item.title | title}}</a></h5>
								<span>{{item.date}}</span>
							</div>
							<div class="clearfix"></div>
						</li>
						{% endfor %}
					</ul>
				</div>
				
			</div>
