{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="containe0r">
    <div class="row blog-page">
      
      <!-- Start Blog Posts -->
      <div class="col-md-9 blog-box">
	
	<!-- Start Post -->
	<div class="blog-post image-post">
	  <!-- Post Content -->
	  <div class="post-content">
	    <div class="post-type"><i class="fa fa-picture-o"></i></div>
	    <h2><a href="#">{{ self.title }}</a></h2>
	    <ul class="post-meta">
	      <li>{{ self.venue }} || {{ self.date }}</li>
	      <li>
		{% for tag in self.tags.all %}
		<a href="#?tag={{tag}}"> {{tag}} </a> 
		{% endfor %}
	      </li>
	    </ul>
	    <div class="blog-post quote-post">
	      <!-- Post Content -->
	      <div class="post-content">
		<div class="post-type"><i class="fa fa-quote-left"></i></div>
		<div class="qoute-box">
		  <a href="#">
		    <h2>Abstract: {{ self.abstract|safe }}</h2>
		  </a>
		</div>
	      </div>
	    </div>
	    
	    <p> {{ self.report|richtext }}</p>	
	    <!-- Post Thumb -->
	    <div class="post-head">
	      <h2>Images</h2>
	      {% if self.media_items %}
	      {% for item in self.media_items.all %}
	      <a class="lightbox" title="{{item.title}}" href="{{item.image.url}}">
		{% image item.image width-400 %}
	      </a>
	      {% endfor %}
	      {% endif %}	      
	  </div>
	    <!-- Post Thumb -->
	    <div class="post-head">
	      <h2>Documents</h2>
	      {% if self.document_items %}
	      {% for item in self.document_items.all %}
	      <p><a href="{{item.document.url}}">{{item.document.title}}</a></p>
	      {% endfor %}
	      {% endif %}	      
	  </div>
	  </div>	  
	</div>
	<!-- End Post -->
	<!-- End Blog Posts -->
      </div>
      
      <!--Sidebar-->
      {% block sidebar %}	
      {% include 'event/event_sidebar.html' %}
      {% endblock%}
      <!--End sidebar-->
      
      
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}
