{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load disqus_tags %}
{% load static %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!-- Container -->
		
		<!-- Start Content -->
		<div id="content">
			<div class="container">
				<div class="row portfolio-page">
					
					<!-- Start Recent Projects Carousel -->
					<ul id="portfolio-list" data-animated="fadeIn">
						<li>
							<img src="images/Portfolio-1/1.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Town winter 2013</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/2.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Quarterly Musashino</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/3.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Mainichi April 2014</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/4.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Shitamachi Rocket</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/5.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Majesty express vol. 01</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/6.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/7.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/8.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/9.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/10.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/11.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
						<li>
							<img src="images/Portfolio-1/12.png" alt="" />
							<div class="portfolio-item-content">
								<span class="header">Monocle issue 69</span>
								<p class="body">web develpment, design</p>
							</div>
							<a href="#"><i class="more">+</i></a>

						</li>
					</ul>
					<!-- End Portfolio Items -->
					
				</div>
			</div>
		</div>
		<!-- End Content -->
		
	<!-- End Container -->
{% endblock %}
{% block partners %}{% endblock %}