{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load disqus_tags %}
{% load static %}
{% block body_class %}template-mediaindexpage{% endblock %}
{% block title %}
<title> Mamase | Gallery Index </title> {% endblock title %}
{% block js %}
<script type="text/javascript" src="{% static 'js/nivo-lightbox.min.js' %}"></script>
{% endblock %}
{% block content %}

<!-- Header -->
<div class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
	<h2>Gallery</h2>
	<p>{{ self.name }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Start Content -->
<div id="content">
  <div class="container">    
    <div class="row portfolio-page portfolio-4column">      
      <!-- Start Recent Projects Carousel -->
      <ul id="portfolio-list" data-animated="fadeIn">
	{% for item in self.media_items.all %}
	<li>
	  {% image item.image fill-300x300 %}
	  <!--<img src="{{item.link}}" alt="{{item.title}}" />-->
	  <div class="portfolio-item-content">
	    <span class="header">{{item.title}}</span>
	    <p class="body">{{item.caption|richtext}}</p>
	  </div>
	  <a href="{{item.link}}"><i class="more">+</i></a>
	</li>
	{% endfor %}
      </ul>
      <!-- End Portfolio Items -->
      
    </div>
  </div>
</div>
<!-- End Content -->

<!-- End Container -->
{% endblock %}
