{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="error-page">
	<h1>500</h1>
	<h3>An Error Occured</h3>
	<p>We're sorry, but it seems an error occured. Our team is busy looking into it.</p>
	<div class="text-center"><a href="{% url home %}" class="btn-system btn-small">Back To Home</a></div>
	</div>
      

      </div>
    </div>
  </div>
<!-- End Content -->
{% endblock %}
