.widget-upande {
    color: white;
    border-width: 20px ;
    padding: 20px 20px 5px 20px;

}

.widget-upande ul {
padding: 10px
}

.widget-upande h4 {
    color:black;
}

.upande-fa-button {
    text-align: right;
    margin-top: 4px;
}