.widget-upande {
    color: white;
    border-width: 20px ;
    padding: 20px 20px 5px 20px;
}

.widget-upande ul {
padding: 10px
}

.widget-upande h4 {
    color:black;
}

.upande-fa-button {
    text-align: right;
    margin-top: 4px;
}

.upande-list ul li a {
    padding: 10px;
    overflow: hidden;
}

.right-sidebar {
    border-left: 1px solid #eee;
}

/* Rich text CSS since richtext ships with no CSS*/

.rich-text img {
    max-width: 100%;
    height: auto;
}

img.richtext-image.left {
    float: left;
    padding-right: 10pt;
    overflow:hidden;
}

img.richtext-image.right {
    float: right;
    padding-left: 10pt;
    overflow:hidden;
}

.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel {
    padding-left: 0px;
    padding-right: 0px;
}

img.img-responsive.carousel {
    height: 372px;
}