{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load disqus_tags %}
{% load static %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row blog-page">
      
      <!-- Start Blog Posts -->
      <div class="col-md-9 blog-box">
	
	<!-- Start Post -->
	<div class="blog-post image-post">
	  <!-- Post Thumb -->
	  <div class="post-head">
	    
	  </div>
	  <!-- Post Content -->
	  <div class="post-content">
	    <div class="post-type"><i class="fa fa-picture-o"></i></div>
	    <h2><a href="#">{{ self.title }}</a></h2>
	    <ul class="post-meta">
	      <li>By <a href="#">{{self.author}}</a></li>
	      <li>{{ self.date }}</li>
	      <li>
		{% for tag in self.tags.all %}
		<a href="{% slugurl 'news' %}?tag={{tag}}"> {{tag}} </a> 
		{% endfor %}
	      </li>
	      <li><a href="#">{% disqus_num_replies %}</a></li>
	    </ul>	    
	    <p> {{ self.body }}</p>	
	    
	  </div>
	  <!-- Start comments section-->
	  <div>					  
	    <div class="blog-post ">
	      <div class="widget widget-categories">                                                                                                                                             
		<h4>Comments <span class="head-line"></span></h4>	      
	      </div>
	      {% disqus_show_comments %}
	    </div>
	  </div>
	</div>
	<!-- End comments section -->
      </div>
      <!-- End Post -->
      <!-- End Blog Posts -->
      
      {% block sidebar %}	
      {% include 'news/news_sidebar.html' %}
      {% endblock%}
      
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}
{% block partners %}{% endblock %}

