{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<style type="text/css">
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height:321px; width:100%;
}

.carousel-caption {
      line-height: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color:#FFFFFF;
      padding: 0 0 50px 0
}
</style>

{% image self.image1 max-1440x500 as tmp_image1 %}
{% image self.image2 max-1440x500 as tmp_image2 %}
{% image self.image3 max-1440x500 as tmp_image3 %}
{% image self.image4 max-1440x500 as tmp_image4 %}
{% image self.image5 max-1440x500 as tmp_image5 %}
{% image self.image6 max-1440x500 as tmp_image6 %}

<div id="main-slide" class="carousel slide" data-ride="carousel" style="max-width:70%; margin:auto; ">
	
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
          <li data-target="#main-slide" data-slide-to="1"></li>
          <li data-target="#main-slide" data-slide-to="2"></li>
          <li data-target="#main-slide" data-slide-to="3"></li>
          <li data-target="#main-slide" data-slide-to="4"></li>
          <li data-target="#main-slide" data-slide-to="5"></li>
        </ol>
        <!--/ Indicators end-->
	
        <!-- Carousel inner -->
        <div class="carousel-inner">
          <div class="item active">
          	
            <img class="img-responsive" src="{{ tmp_image1.url }}" alt="slider">
            <div class="carousel-caption">
                {{ self.image1_caption }}
              </div>
            <div class="slider-content">
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image2.url }}" alt="slider">
            <div class="carousel-caption">
                {{ self.image2_caption }}
              </div>
            <div class="slider-content">
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image3.url }}" alt="slider">
            <div class="carousel-caption">
                {{ self.image3_caption }}
              </div>
            <div class="slider-content">
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image4.url }}" alt="slider">
            <div class="slider-content">
              <div class="carousel-caption">
                {{ self.image4_caption }}
              </div>
            </div>
          </div>
          <!-- Carousek item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image5.url }}" alt="slider">
            <div class="carousel-caption">
                {{ self.image5_caption }}
              </div>
            <div class="slider-content">
            </div>
          </div>
          <!--Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image6.url }}" alt="slider">
            <div class="carousel-caption">
                {{ self.image6_caption }}
              </div>
            <div class="slider-content">
            </div>
          </div>
          <!--Carousel item end -->
        </div>
        <!-- Carousel inner end-->
	
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
      </div>

{% endblock %}
