{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

{% image self.image1 max-1440x500 as tmp_image1 %}
{% image self.image2 max-1440x500 as tmp_image2 %}
{% image self.image3 max-1440x500 as tmp_image3 %}

<div id="main-slide" class="carousel slide" data-ride="carousel">
	
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
          <li data-target="#main-slide" data-slide-to="1"></li>
          <li data-target="#main-slide" data-slide-to="2"></li>
          <li data-target="#main-slide" data-slide-to="3"></li>
          <li data-target="#main-slide" data-slide-to="4"></li>
          <li data-target="#main-slide" data-slide-to="5"></li>
        </ol>
        <!--/ Indicators end-->
	
        <!-- Carousel inner -->
        <div class="carousel-inner" style="overflow-x:hidden;">
          <div class="item active">
          	
            <img class="img-responsive" src="{{ tmp_image1.url }}" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated2">
                  <!--span>Welcome to <strong>Margo</strong></span-->
                </h2>
                <h3 class="animated3">
                  <!--span>The ultimate aim of your business</span-->
                </h3>
                <p class="animated4"><!--a href="#" class="slider btn btn-system btn-large">Check Now</a-->
                </p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image2.url }}" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated4">
                  <!--span><strong>Margo</strong> for the highest</span-->
                </h2>
                <h3 class="animated5">
                  <!--span>The Key of your Success</span-->
                </h3>   
                <p class="animated6"><!--a href="#" class="slider btn btn-system btn-large">Buy Now</a-->
                </p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="{{ tmp_image3.url }}" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated7 white">
                  <!--span>The way of <strong>Success</strong></span-->
                </h2>
                <h3 class="animated8 white">
                  <!--span>Why you are waiting</span-->
                </h3>   
                <div class="">
                  <!--a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a--><!--a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a-->
                </div>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->
	
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
      </div>

{% endblock %}
