{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-embeddedvideopage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row blog-page">
      
      <!-- Start Blog Posts -->
      <div class="col-md-9 blog-box">
	
	<!-- Start Post -->
	<div class="blog-post image-post">
	  <!-- Post Thumb -->
	  <div class="post-head">
	    {% if self.main_image %}
	    <a class="lightbox" title="This is an image title" href="images/blog-01.jpg">
	      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
	      {% image self.main_image width-400 %}
	    </a>
	    {% endif %}
	    
	  </div>
	  <!-- Post Content -->
	  <div class="post-content">
	    <div class="post-type"><i class="fa fa-picture-o"></i></div>
	    <h2><a href="#">{{ self.title }}</a></h2>
	    <div class="blog-post quote-post">
	      <!-- Post Content -->
	      <div class="post-content">
	      </div>
	    </div>
	    <div style="margin-bottom: 30px;">
	      <iframe src="{{self.video_link|safe}}" width="800" height="450" frameborder="10" allowfullscreen>></iframe>	    
	    </div>
	  </div>
	<!-- Start comments section-->
	<!--<div>
	  <div class="blog-post ">
	    <div class="widget widget-categories">                                                                                                                                             
              <h4>Comments <span class="head-line"></span></h4>	      
	    </div>
	  </div>
	</div>
      </div>-->

      <!-- End comments section -->

	</div>
	<!-- End Post -->
      <!-- End Blog Posts -->
      
      
      <!--Sidebar-->
      {% block sidebar %}
      {% include 'video/videos_sidebar.html' %}
      {% endblock%}
      <!--End sidebar-->
      
      
      </div>
    </div>
  </div>
<!-- End Content -->

{% endblock %}
{% block partners %}{% endblock%}
