{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row sidebar-page">
      
      <!-- Page Content -->
      <div class="col-md-9 page-content">	
	
	<!-- Divider -->
	<div class="hr1" style="margin-bottom:30px;"></div>
	
	<div class="row">
	  <div class="col-md-12">
	    
	    <!-- Classic Heading -->
	    <h4 class="classic-title"><span>Latest Posts</span></h4>
	    
	    <div class="latest-posts-classic">
	      
	      {% if blogs %}	      
	      <!-- Post 1 -->
	      {% for item in blogs %}
	      <div class="col-md-6">
		<div class="post-row">
		  <div class="left-meta-post">
		    <div class="post-date">
		      <span class="day">{{ item.date.day }}</span>
		      <span class="month">{{ item.date| date:"F"  }}</span>
		    </div>
		    <div class="post-type"><i class="fa fa-picture-o"></i></div>
		  </div>
		  <h3 class="post-title">
		    <a href="{{ item.link }}">{{item.title| title}}</a>
		  </h3>
		  <div class="post-content">
		    {{item.link_page.}}
		    <p>{{ item.intro }} <a class="read-more" href="{{ item.url }}">Read More...</a></p>
		  </div>
		</div>
	      </div>
	      {% endfor %}
	      {% endif %}	      
	    </div>
	  </div>      
	</div>
	<!-- Start Pagination -->
	<div id="pagination" class="pagination">
	  <span class="all-pages">Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</span>
	      {% if blogs.has_previous %}
	      <a class="next-page" href="#">Previous</a>
	       {% endif %}
	      <span class="current page-num">{{blogs.number}}</span>
	      {% if self.blogs.has_next %}
	      <a class="next-page" href="#">Next</a>
	       {% endif %}
	</div>
	<!-- End Pagination -->
      </div>      
    <!-- End Page Content-->
    
    
    <!--Sidebar-->
    <div class="col-md-3 sidebar right-sidebar">
      
      <!-- Search Widget -->
      <div class="widget widget-search">
	<form action="#">
	  <input type="search" placeholder="Enter Keywords..." />
	  <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
	</form>
      </div>
      
      <!-- Categories Widget -->
      <div class="widget widget-categories">
	<h4>Categories <span class="head-line"></span></h4>
	<ul>
	  {% for categ in self.categories %}
	  <li>
	    <a href="{{request.path}}?category={{categ.name}}">{{categ.name}}</a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
      
      <!-- Popular Posts widget -->
      <div class="widget widget-popular-posts">
	<h4>Popular Post <span class="head-line"></span></h4>
	<ul>
	  {% for blog in blogs %}
	  <li>
	    <div class="widget-thumb">
	      <a href="{{blog.url}}"><img src="{{blog.main_image.file.url}}" alt="{{blog.main_image.title}}" /></a>
	    </div>
	    <div class="widget-content">
	      <h5><a href="{{blog.url}}">{{blog.title}}</a></h5>
	      <span>{{blog.date}}</span>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	  {% endfor %}
	</ul>
      </div>
      
      <!-- Video Widget -->
      <div class="widget">
	<h4>Video <span class="head-line"></span></h4>
	<div>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/Lmi9IBP209s" frameborder="0" allowfullscreen></iframe>
	</div>
      </div>
      
      <!-- Tags Widget -->
      <div class="widget widget-tags">
	<h4>Tags <span class="head-line"></span></h4>
	<div class="tagcloud">
	  {% for self in self.blogs %}
	  {% for tag in self.tags.all %}
	  <a href="#">{{ tag }}</a>
	  {% endfor %}
	  {% endfor %}
	</div>
      </div>
      
    </div>
    <!--End sidebar-->
    
      </div>
      
    </div>
    </div>
  </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}
