{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load disqus_tags %}
{% load static %}

{% block body_class %}template-embeddedvideopage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row blog-page">
      
      <!-- Start Blog Posts -->
      <div class="col-md-9 blog-box">
	
	<!-- Start Post -->
	<div class="blog-post image-post">
	  <!-- Post Thumb -->
	  <div class="post-head">
	    {% if self.main_image %}
	    <a class="lightbox" title="This is an image title" href="images/blog-01.jpg">
	      <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
	      {% image self.main_image width-400 %}
	    </a>
	    {% endif %}
	    
	  </div>
	  <!-- Post Content -->
	  <div class="post-content">
	    <div class="post-type"><i class="fa fa-picture-o"></i></div>
	    <h2><a href="#">{{ self.title }}</a></h2>
	    <div class="blog-post quote-post">
	      <!-- Post Content -->
	      <div class="post-content">
	      </div>
	    </div>
	    <div style="margin-bottom: 30px;">
	      <iframe src="{{self.video_link|safe}}" width="800" height="450" frameborder="10" allowfullscreen>></iframe>	    
	    </div>
	  </div>
	<!-- Start comments section-->
	<div>
	  <div class="blog-post ">
	    <div class="widget widget-categories">                                                                                                                                             
              <h4>Comments <span class="head-line"></span></h4>	      
	    </div>
	    {% disqus_show_comments %}
	    {% disqus_recent_comments shortname 5 50 0 24 %}
	  </div>
	</div>
      </div

      <!-- End comments section -->

	</div>
	<!-- End Post -->
      <!-- End Blog Posts -->
      
      
      <!--Sidebar-->
      <div class="col-md-3 sidebar right-sidebar">
	
	<!-- Search Widget -->
	<div class="widget widget-search">
	  <form action="#">
	    <input type="search" placeholder="Enter Keywords..." />
	    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
	    </form>
	  </div>

	<!-- Categories Widget -->
	<div class="widget widget-categories">
	  <h4>Categories <span class="head-line"></span></h4>
	  <ul>
	    <li>
	      <a href="#">Mau</a>
	      </li>
	    <li>
	      <a href="#">Serengeri</a>
	      </li>
	    <li>
	      <a href="#">Mara</a>
	      </li>
	    <li>
	      <a href="#">All</a>
	      </li>
	    </ul>
	  </div>

	<!-- Popular Posts widget -->
	<div class="widget widget-popular-posts">
	  <h4>Other Exciting posts <span class="head-line"></span></h4>
	  {% if self.related_links.all %}
	  <ul>
            {% for item in self.related_links.all %}
	    <li>
	      <div class="widget-thumb">
		<a href="#"><img src="{% static "margo/images/blog-mini-01.jpg" %}" alt="" /></a>
	      </div>
	      <div class="widget-content">
		<h5><a href="{{ item.link }}">{{ item.title }}</a></h5>
		<span>{{item.post_date}}</span>
	      </div>
	      <div class="clearfix"></div>
	    </li>
              {% endfor %}
            </ul>
	    {% endif %}

	    <li>
	      <div class="widget-thumb">
		<a href="#"><img src="{% static "margo/images/blog-mini-01.jpg" %}" alt="" /></a>
	      </div>
	      <div class="widget-content">
		<h5><a href="#">GIS Project in the Mara</a></h5>
		<span>Jul 29 2013</span>
	      </div>
	      <div class="clearfix"></div>
	    </li>
	    <li>
	      <div class="widget-thumb">
		<a href="#"><img src="{% static "margo/images/blog-mini-02.jpg" %}" alt="" /></a>
	      </div>
	      <div class="widget-content">
		<h5><a href="#">GIS Project in the Mau</a></h5>
		<span>Jul 29 2013</span>
	      </div>
	      <div class="clearfix"></div>
	      </li>
	    <li>
	      <div class="widget-thumb">
		<a href="#"><img src="{% static "margo/images/blog-mini-03.jpg" %}" alt="" /></a>
	      </div>
	      <div class="widget-content">
		<h5><a href="#">GIS Project in the Serengeri</a></h5>
		<span>Jul 29 2013</span>
		</div>
	      <div class="clearfix"></div>
	      </li>
	    </ul>
	  </div>
	
	<!-- Video Widget -->
	<div class="widget">
	  <h4>Video <span class="head-line"></span></h4>
	  <div>
	    <iframe src="http://player.vimeo.com/video/63322694?byline=0&amp;portrait=0&amp;badge=0" width="800" height="450"></iframe>
	    </div>
	  </div>
	
	<!-- Tags Widget -->
	<div class="widget widget-tags">
	  <h4>Tags <span class="head-line"></span></h4>
	  <div class="tagcloud">
	    <a href="#">Portfolio</a>
	    </div>
	  </div>

	</div>
      <!--End sidebar-->
      
      
      </div>
    </div>
  </div>
<!-- End Content -->

{% endblock %}
