{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

 
 
      <div class="list_carousel">
 
          <ul id="foo0">
 
         {% if self %}
 
                {% image self.image height-400 as carouselimagedata %}
                <a class="rsImg" data-rsw="{{ carouselimagedata.width }}" data-rsh="{{ carouselimagedata.height }}"  href="{{ carouselimagedata.url }}">
		<li><img src= "{{ carouselimagedata.url }}"></li>
                        {{ item.caption }}
                </a>
 
         {% endif %}
 
          </ul>
 
      </div>
 
    
{% endblock %}

{% block partners %}
{% endblock %}
