{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}
{% load static %}

{% block body_class %}template-testpage{% endblock %}

{% block content %}

<div class="container">
  <div class="list_carousel">
    <ul id="foo0">	  	  
      {% for item in images %}
      <!--section>{{ block }}</section-->
      {% image item.image height-400 as carouselimagedata %}
          <a class="rsImg" data-rsw="{{ carouselimagedata.width }}" data-rsh="{{ carouselimagedata.height }}"  href="{{ carouselimagedata.url }}">
	    <li><img src= "{{ carouselimagedata.url }}"></li>
            {{ item.caption }}
          </a>	  
      {% endfor %}
    </ul>	
  </div>
</div>

    
{% endblock %}

{% block partners %}
{% endblock %}
