{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}
{% load static %}

<head>
<script type="text/javascript" src="{% static 'margo/js/jquery-2.1.1.min.js' %}"></script>
</head>
{% block content %}


{% for key, values in body_content %}
  <div class="container">
    {{key}}

  <div class="list_carousel">
        {% for i in values.value %}
      <ul id="foo0">	
        {{values}}
        <!--li><img src="{{tmp_image.url}}"></li-->  
      </ul>	
      {% endfor %}
  </div>
  
</div>
{% endfor %}
 
    
{% endblock %}

{% block partners %}
{% endblock %}
