{% load static %}
<!--Sidebar-->
<div class="col-md-3 sidebar right-sidebar" style=" border-left: 1px solid #eee;">	
	<!-- Categories Widget -->
	{% if self.categories %}
	<div class="widget widget-categories">
		<h4>Categories <span class="head-line"></span></h4>
		<ul>
			{% for categ in self.categories %}
			<li>
				<a href="{{request.path}}?category={{categ.name}}">{{categ.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<!-- Popular Posts widget -->
	<div class="widget widget-popular-posts">
		<h4>Latest News <span class="head-line"></span></h4>
		<ul>
			{% for n in news|slice:":4" %}
			<li style="list-style: none;">
				<div class="widget-thumb">
					<a href="{{n.url}}">
					{% if n.main_image %}
						<img src="{{n.main_image.file.url}}" alt="{{n.main_image.title}}"/>
					{% else %}
						<img src="{% static 'margo/images/mamase_icon.png' %}" alt="mamase icon" />
					{% endif %}
					</a>
				</div>
				<div class="widget-content">
					<h5><a href="{{n.url}}">{{n.title}}</a></h5>
					<span>{{n.date}}</span>
				</div>
				<div class="clearfix"></div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<!-- Tags Widget -->
	<!-- <div class="widget widget-tags">
		<h4>Tags <span class="head-line"></span></h4>
		<div class="tagcloud">
			{% for tag in tags %}
			<a href="{{request.path}}?tag={{tag}}">{{ tag }}</a>
			{% endfor %}
		</div>
	</div> -->

</div>
<!--End sidebar-->
