{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row sidebar-page">
      
      <!-- Page Content -->
      <div class="col-md-9 page-content">	
	
	<div class="row">
	  <div class="col-md-12">

	    <!-- Classic Heading -->
	    <h4 class="classic-title"><span>Latest News </span>  {% if request.GET.category %} | {{ request.GET.category  }} {% endif %} </h4>
	    
	    <div class="latest-posts-classic">
	      
	      <p>
		News updates on MaMaSe Sustainable Water Initiative	
	      </p>
	      {% if news %}	      
	      <!-- Post 1 -->
	      {% for item in news %}
	      <div class="col-md-12">
		<div class="post-row">
		  <div class="left-meta-post">
		    {% if item.date %}
		    <div class="post-date">
		      <span class="day">{{ item.date.day }}</span>
		      <span class="month">{{ item.date| date:"M"  }}</span>
		    </div>
		    {% endif %}
		    <div class="post-type"><i class="fa fa-picture-o"></i></div>
		  </div>
		  <h3 class="post-title">
		    <a href="{{ item.url }}">{{item.title}}</a>
		  </h3>
		  <div class="post-content">
		    <p>{{ item.intro |richtext }} <a class="read-more" href="{{ item.url }}">Read More...</a></p>
		  </div>
		</div>
	      </div>
	      {% endfor %}
	      {% endif %}	      
	    </div>
	  </div>      
	</div>
	<!-- Start Pagination -->
	<div id="pagination" class="pagination">
	  <span class="all-pages">Page {{ news.number }} of {{ news.paginator.num_pages }}</span>
	  {% if news.has_previous %}
	  <a class="next-page" href="#">Previous</a>
	  {% endif %}
	  <span class="current page-num">{{news.number}}</span>
	  {% if news.has_next %}
	  <a class="next-page" href="#">Next</a>
	  {% endif %}
	</div>
	<!-- End Pagination -->
      </div>      
      <!-- End Page Content-->
      
      {% block sidebar %}
      {% include 'news/news_sidebar.html' %}
      {% endblock%}
      
    </div>
    
  </div>
</div>
</div>
</div>
</div>
<!-- End Content -->

{% endblock content %}
{% block partners %}{% endblock partners %}
