{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-gisplatform{% endblock %}

{% block content %}


<!-- Start Content -->
<!-- Divider -->
	<div class="hr1" style="margin-bottom:30px;"></div>
	
	<div class="row">
	  <div class="col-md-12">
	    
	    <!-- Classic Heading -->
	    <h4 class="classic-title container"><span>Mara Geoportal</span></h4>
	    
	    <div class="latest-posts-classic container">	      
	    <p>The <a href="http://maps.mamase.org/">MaMaSe Geonode </a>(open-source mapping platform) is designed to support the MaMaSe conservation community and their diverse needs to upload, view, create, analyze and manage spatial data and maps. They’re big on metadata: you don’t want just a dumping ground. Maps are an important content type. Maps combine the data/layers and the styles.This platform provides access to a suite of scientific data, relevant to a variety of conservation planning goals/tasks. These tools allows a manager or conservation practitioner to make dynamic scenario-based decisions using the most current scientific information.
	    </p><br>  
	 
		<p>
		MaMaSe Geonode allows many people to collaborate. For every user, you can see the data layers and the maps that he added. For every data layer, you can see the user and the maps where it is used. For every map you see the users that work on it and the data layers that were used. Those three items (map, data layer, user) are very helpful when searching for good data layers.

		Annotations and comments help to get feedback on the data. Extremely helpful for instance during disasters when you can add a comment that a certain bridge has been washed out or a road is inaccessible.

		Social network stuff is also implemented, which enables contributors to share the data layers, maps, documents through popular social sites e.g. google+, twitter & facebook (Ranking by number of downloads, by-user rating, and so).

		About metadata: you can have a stick or a carrot approach. Something like INSPIRE prescribes the use of big forms: a stick. Geonode uses a carrot: the metadata is mostly automatic by using the social tools, by coupling with user accounts, by using it in maps and feeding that back into the metadata
		</p>
		<p>
		<b>Conclusion: when the web mapping platform becomes part of the daily workflow, collaboration and participation aren’t an extra effort anymore, it just happens. And... the data is available</b>
		</p>
	    </div>
	    <div>
			<a target="_blank" href="http://maps.mamase.org/" class="btn btn-primary btn-lg" style="margin-left:600px;">Mara Geoportal</a>	    
		</div>
	  </div>      
	</div>


<!-- End Content -->

{% endblock %}
