{% extends "base.html" %}
{% load static %}
{% block title %} <title> Mamase | About </title> {% endblock title %}
{% block css %} {% endblock css %}
{% block js %}{% endblock %}
{% block body_class %}visual-index{% endblock %}

{% block content %}
<!-- Start About Section -->
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row">	
	<div class="col-md-12">
	  
	  <!-- Classic Heading -->	  
	  <h4 class="classic-title"><span>Welcome to MaMaSe<span></h4>
	  <!-- Some Text -->	  
	  <p>The MaMaSe Sustainable Water Initiative is aimed at improving water safety and security in the Mara River Basin to support structural poverty reduction, sustainable economic growth and conservation of the basin’s ecosystems. In this four year programme the people and institutions in the basin will be supported in a process of structural change, promoting water-wise economic development that lifts people out of poverty and sets them on a sustainable path to improved well being and self-reliance.</p>
	  <p>The Initiative, which is financially supported by the Netherlands Embassy in Nairobi, Kenya, consists of a broad-based public private partnership including international and Kenyan government agencies, civil society, private sector, NGOs, and knowledge institutions. It is led by UNESCO-IHE together with WWF Kenya. The partners envision a basin where:
	  </p>
	  <ul class="icons-list">
	    <li><i class="fa fa-check-circle"></i>Capable government institutions develop effective river basin management strategies for inclusive green growth through participatory processes. Water resources are regulated for the benefit of people and ecosystems. </li>
	    <li><i class="fa fa-check-circle"></i>Basin residents prosper from economic activities that are financially profitable, environmentally sustainable, and well aligned with the basin water management strategy. Innovative agricultural practices and sustainable tourism facilities are promoted.</li>
	    <li><i class="fa fa-check-circle"></i>Key forest and savannah ecosystems are protected or restored and wildlife has access to habitats and water resources needed at different times of the year and especially during drought years.</li>
	    <li><i class="fa fa-check-circle"></i>These interconnected public, private, and environmental elements of the basin serve as a model of sustainability for surrounding basins, with transferrable tools and approaches.</li>
	  </ul>
	</div>
      </div>  
    </div>
  </div>
</div>
<!-- End content -->

{% endblock content %}

{% block partners %}{% endblock  %}
