<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
  </head>
  <body>
    <div id="chart2"></div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/c3.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
   $(document).ready(function() {
   $.ajax({
        type: 'GET',
        //url: "http://192.168.3.5/api/v1/data/3?format=jsonp",
        url : "http://api.thingspeak.com/channels/28006/feed.json?callback=",
        dataType: "jsonp",
        success: function(data) {
            feeds = data.feeds
            channel = data.channel
            var created = ['created']
            var field1 = [channel.field1]
            var field2 = [channel.field3]
            var field3 = [channel.field4]
            for (var i = 0; i < feeds.length; i++) {
                n = feeds[i].created_at;
                f1 = feeds[i].field1;
                f2 = feeds[i].field3;
                f3 = feeds[i].field4;
                created.push(n.replace('T',' ').replace('Z',''));
                field1.push(f1);
                field2.push(f2);
                field3.push(f3);
            }
            console.log(field1);
            var chart = c3.generate({
                bindto: '#chart2',
                data: {
    	            x: 'created',		
                    xFormat: '%Y-%m-%d %H:%M:%S',
                    columns: [
                        created,
                        field1,
                        field2,
                        field3,
                    ],
                },
axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H:%M'
            }
        }
    }
            });
        },
    });
});
    </script>
  </body>
</html>
