<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
  </head>
  <body>
    <div id="chart2"></div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/c3.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
   $(document).ready(function() {
   $.ajax({
        type: 'GET',
        //url: "http://192.168.3.5/api/v1/data/3?format=jsonp",
        url : "http://api.thingspeak.com/channels/16153/field/1.json?callback=",
        dataType: "jsonp",
        success: function(data) {
            feeds = data.feeds
            var created = ['created']
            var reading = ['reading']
            for (var i = 0; i < feeds.length; i++) {
                n = feeds[i].created_at;
                a = feeds[i].field1;
                created.push(n.replace('T',' ').replace('Z',''));
                reading.push(a);
            }
            console.log(created);
            var chart = c3.generate({
                bindto: '#chart2',
                data: {
    	            x: 'created',		
                    xFormat: '%Y-%m-%d %H:%M:%S',
                    columns: [
                        created,
                        reading,
                    ],
                },
axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H:%M:%S'
            }
        }
    }
            });
        },
    });
});
    </script>
  </body>
</html>
