{%extends 'base.html'%}		

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block body_class %}contact-us{% endblock %}
{% block title %} <title> Mamase | Contact Us </title> {% endblock title %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-10">
	
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Contact Us</span></h4>
	<div>
	  <span class="label label-success">{{success_message}}</span>
	  <span class="label label-danger">{{error_message}}</span>
	</div>
	<!-- Start Contact Form -->
	<form role="form" class="contact-form" id="contact-form" method="post" action="{% url 'email' %}">
	  {% csrf_token %}
	  <div class="form-group">
	    <label for="recipient">Who do we send this email to?</label>
	    <select class="form-control" id="recipient" name="recipient">
	      <option>All</option>
	      <option>Programme Manager</option>
	      <option>Project Head</option>
	      <option>Tech Support</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="text" placeholder="Name" name="name">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="email" class="email" placeholder="Email" name="email">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="text" class="requiredField" placeholder="Subject" name="subject">
	    </div>
	  </div>
	  
	  <div class="form-group">	    
	    <div class="controls">
	      <textarea rows="7"  placeholder="Message" name="message"></textarea>
	    </div>
	  </div>
	  <button type="submit" id="submit" class="btn-system btn-large">Send</button><div id="success" style="color:#34495e;"></div>
	</form>
	<!-- End Contact Form -->
	
      </div>
      <div class="col-md-1"></div>
      
    </div>
    
  </div>
</div>
<!-- End content -->

{% endblock content %}

{% block partners%} {% endblock %}
