{%extends 'base.html'%}		

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block body_class %}contact-us{% endblock %}
{% block title %} <title> Mamase | Contact Us </title> {% endblock title %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-8">
	
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Contact Us</span></h4>
	<div>
	{{success}}
	</div>
	<!-- Start Contact Form -->
	<form role="form" class="contact-form" id="contact-form" method="post">
	  <div class="form-group">
	    <label for="recipient">Who do we send this email to?</label>
	    <select class="form-control" id="recipient">
	      <option>All</option>
	      <option>Programme Manager</option>
	      <option>Project Head</option>
	      <option>Tech Support</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="text" placeholder="Name" name="name">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="email" class="email" placeholder="Email" name="email">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="text" class="requiredField" placeholder="Subject" name="subject">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    
	    <div class="controls">
	      <textarea rows="7"  placeholder="Message" name="message"></textarea>
	    </div>
	  </div>
	  <button type="submit" id="submit" class="btn-system btn-large">Send</button><div id="success" style="color:#34495e;"></div>
	</form>
	<!-- End Contact Form -->
	
      </div>
      
      <div class="col-md-4">
	
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Information</span></h4>
	
	<!-- Some Info -->
	<p>Thanks for contacting MaMaSe. We appreciate your queries and feedback.</p>
	
	<!-- Divider -->
	<div class="hr1" style="margin-bottom:10px;"></div>
	
	<!-- Info - Icons List -->
	<ul class="icons-list">
	  <li><i class="fa fa-globe">  </i> <strong>Address:</strong> 1234 Street Name, Kenya.</li>
	  <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> support@mamase.org</li>
	  <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +12 345 678 001</li>
	</ul>
1	
	<!-- Divider -->
	<div class="hr1" style="margin-bottom:15px;"></div>
	
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Working Hours</span></h4>
	
	<!-- Info - List -->
	<ul class="list-unstyled">
	  <li><strong>Monday - Friday</strong> - 9am to 5pm</li>
	  <li><strong>Saturday</strong> - 9am to 2pm</li>
	  <li><strong>Sunday</strong> - Closed</li>
	</ul>
	
      </div>
      
    </div>
    
  </div>
</div>
<!-- End content -->

{% endblock content %}

{% block partners%} {% endblock %}
