{%extends 'base.html'%}		

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block body_class %}contact-us{% endblock %}
{% block title %} <title> Mamase | Contact Us </title> {% endblock title %}
{% block css %}
<link href="http://emotionloop.github.io/visualCaptcha-frontend-core/dist/visualcaptcha.css" media="all" rel="stylesheet">
{% endblock %}
{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-10">
	
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Contact Us</span></h4>
	<div>
	  {% for message in messages %}
	  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	  <span class="label label-danger">{{message}}</span>
	  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
	  <span class="label label-success">{{message}}</span>	  
	  {% endif %}
	  {% endfor %}
	</div>
	<div id="status-message"></div>
	<!-- Start Contact Form -->
	<form role="form" class="contact-form" id="contact-form" method="post" action="{% url 'try' %}">
	  {% csrf_token %}
	  <!--<div class="form-group">
	    <label for="recipient">Who do we send this email to?</label>
	    <select class="form-control" id="recipient" name="recipient">
	      <option>All</option>
	      <option>Programme Manager</option>
	      <option>Project Head</option>
	      <option>Tech Support</option>
	    </select>
	  </div>-->
	  <div class="form-group">
	    <div class="controls">
	      {% if error_message %}
	      <input type="text" placeholder="Name" name="name" value="{{name}}">
	      {% else %}
	      <input type="text" placeholder="Name" name="name">
	      {% endif %}
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="email" class="email" placeholder="Email" name="email">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="controls">
	      <input type="text" class="requiredField" placeholder="Subject" name="subject">
	    </div>
	  </div>
	  
	  <div class="form-group">	    
	    <div class="controls">
	      <textarea rows="7"  placeholder="Message" name="message"></textarea>
	    </div>
	  </div>
	  <div class="form-group">	    
	    <div id="sample-captcha"></div>
            <a href="#" id="check-is-filled" class='info-btn'>Check if visualCaptcha is filled</a>
	  </div>
	  <button type="submit" id="submit" class="btn-system btn-large">Send</button><div id="success" style="color:#34495e;"></div>
	</form>
	<!-- End Contact Form -->
	
      </div>
      <div class="col-md-1"></div>
      
    </div>
    
  </div>
</div>
<!-- End content -->

{% endblock content %}
{% block js %}
<script src="http://emotionloop.github.io/visualCaptcha-frontend-core/dist/visualcaptcha.vanilla.js"></script>
<script src="{% static 'js/captcha.js' %}"></script>
{% endblock %}
