{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block title %} <title> Mamase | Knowledge Platform </title> {% endblock title %}
{% block body_class %}template-knowledgeplatform{% endblock %}

{% block content %}


<!-- Start Content -->
<!-- Divider -->
	<div class="hr1" style="margin-bottom:30px;"></div>
	
	<div class="row">
	  <div class="col-md-12">
	    
	    <!-- Classic Heading -->
	    <h4 class="classic-title container"><span>Knowledge Sharing Platform</span></h4>
	    
	    <div class="latest-posts-classic container">	      
	      <p>The Knowledge Sharing Platform is a key driver for Capacity Development for MaMaSe conservation community targeting policy makers, planners, INRM and IWRM organisations and scientists. It facilitates exchange on practices, and messages that promote ownership, change and results. 
		The features to be included are:	    
	      </p><br> 
	      <ul style="list-style-type:disc; margin-left:15px;">
		<li>(Online) courses offered that are useful for IWRM</li>
	    	<li>Online library to search for papers, reports, etc.</li>
	    	<li>Presentations and movies</li>
	      </ul>
	      <br>	      
	      <br>
	      <br>		
	    </div>
	   
	  </div>      
	</div>


<!-- End Content -->

{% endblock %}
