{% extends "base.html" %}

{% load static %}
{% block title %} <title> Mamase | Visualization </title> {% endblock title %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}"> {% endblock css %}
{% block js%} 
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'js/c3.js' %}"></script>
<script>

$(document).ready(function() {
///governor camp=16152
///mulot=15792
///mar=16151
$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/"+16151+"/feed.json?start="+dt+"&callback=",
url:"/mamase/api/feed/?channel=6",
dataType: "json",
success: function(data) {
feeds = data.feed
channel = data.channel[0]

//console.log(feeds)
console.log(feeds.length)
console.log(feeds[2].field2)
//console.log("channel 3"+channel[0].length)
///
channel_obj=Object.keys(channel);// convert to an object
len=channel_obj.length-5;//get length of obj
console.log('length of obj = '+len);//display results

///
 
var created = ['created']
var myarry=[];
///
	field = "";
 for(var i=0;i<len;i++){//loop thru all fields
  		  		
      field='field'+(1+i),
      
      //eval('var field'+ (1+i) + '= ["'+(channel[field])+'"]');//define fields
      eval('var '+field+' = ["'+(channel[field])+'"]');

      //eval( console.log(field))

      	//console.log(field),
  		console.log(field +':'+channel[field])

  		//console.log(myfields[field])
 

/*var field1 = [channel.field1]
var field2= [channel.field2]
var field3 = [channel.field3]*/
$('#channeldesc').html(channel.description);
$('#channelname').html(channel.name);
for (var j = 0; j < feeds.length; j++) {
                    n = feeds[j].added_formatted;



                    if(created.length<=feeds.length) {//if created is not in myarry
                    created.push(n)}
                    	
                   
                    eval('f1 ='+ 'feeds[j].'+field);
                    console.log('f1 = '+f1);
                    //created.push(n.replace('T',' ').replace('Z',''));
                    
                    

                    
                    //console.log('created = '+created);
                   eval(field+'.push(f1)');
                   
                    
                 	}
                 	 if (myarry.length ==0){
   					   myarry.push(created)}
						
					//console.log(myarry)

                 	eval('myarry.push('+field+')')
                 	console.log('length '+myarry.length)

                 }
                
                console.log( 'field date '+myarry[0])
                //console.log( 'length of myarry[0]'+myarry.length)

                /*data=[]
                for (a=0;a<myarry.length;a++){
                	data=data.push(myarry[i])
                	console.log('data '+data)
                } */                        

            console.log(myarry)
            var chart = c3.generate({
                bindto: '#chart',
                data: {
		    x: 'created',
		    //"2015-09-17T13:33:58.752Z"
		    //2015-09-17 13:33:58                    
                    xFormat: '%Y-%m-%d %H:%M:%S',

                    columns: myarry,                    
                },

axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H:%M',
            label:{
            	text:"My label"
            }
            }
        }
    }
            });
        },
    });

$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/public.json?tag=mamase",
url:"/mamase/channel/",
dataType: "json",
success: function(data) {
channel = data
console.log("Channelssssssssssss")
console.log(channel[0].id)

var channel_list = "";
for (var i = 0; i< channel.length; i++) {
               channel_list += '<li id="'+channel[i].id+'" onclick="drawChart(this.id)"><a href="#">'+channel[i].name+'</a></li>';
               }
		   $('#channel-list').html(channel_list);
		   //drawChart(channel[0].id);
	       }
               });
	       

});

</script>
<script>
var dt = new Date();
dt.setHours(dt.getHours()-84)//Time is in hours. 3.5 days ago

function drawChart(id){
$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/"+id+"/feed.json?start="+dt+"&callback=",
url:"/mamase/api/feed/?channel="+id,
dataType: "json",
success: function(data) {
feeds = data.feeds
channel = data.channel
channel_obj=Object.keys(channel);// convert to an object
len=channel_obj.length-9;//get length of obj
console.log('length of obj = '+len);//display results
///
 
var created = ['created']
var myarry=[];
///
	field = "";
 for(var i=0;i<len;i++){//loop thru all fields
  		  		
      field='field'+(1+i),
      
      //eval('var field'+ (1+i) + '= ["'+(channel[field])+'"]');//define fields
      eval('var '+field+' = ["'+(channel[field])+'"]');

      //eval( console.log(field))

      	//console.log(field),
  		console.log(field +':'+channel[field])

  		//console.log(myfields[field])
 

/*var field1 = [channel.field1]
var field2= [channel.field2]
var field3 = [channel.field3]*/
$('#channeldesc').html(channel.description);
$('#channelname').html(channel.name);
for (var j = 0; j < feeds.length; j++) {
                    n = feeds[j].created_at;

                    console.log('field is '+field)
                    eval('f1 ='+ 'feeds[j].'+field);
                    console.log('f1 = '+f1);
                    //created.push(n.replace('T',' ').replace('Z',''));

                    //console.log('created = '+created);
                   eval(field+'.push(f1)');
                   
                    
                 	}
                 	 if(myarry[0] == null) {//if created is not in myarry
   					   myarry.push(created)
						}
					

                 	eval('myarry.push('+field+')')
                 	console.log('length '+myarry.length)

                 }
                
                //console.log( 'field 0 '+myarry[0])
                //console.log( 'length of myarry[0]'+myarry.length)

                /*data=[]
                for (a=0;a<myarry.length;a++){
                	data=data.push(myarry[i])
                	console.log('data '+data)
                } */                        


            var chart = c3.generate({
                bindto: '#chart',
                data: {
		    x: 'created',
                    xFormat: '%Y-%m-%d %H:%M:%S.SSS',
                    columns: myarry1, 
                },
axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H:%M'
            }
        }
    }
            });
        },
    });
}

</script>
{% endblock js %}

{% block body_class %}visual-index{% endblock %}

{% block content %}
<!-- Container -->
<div id="container">  
  <!-- Start Chart Section -->
  <div class="pricing-section" style="padding-top:60px; padding-bottom:60px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
	  
          <!-- Text -->
          <p class="text-center" style="margin-bottom:20px;">Low cost stations in the Mara River Basin collect real time data. Here the open access data can be viewed. Click one of the channels to view data of your interest.</p>
        </div>
      </div>
      
      <div class="row pricing-tables">
        <div class="col-md-2 col-sm-2">
	  <div class="dropdown">
	    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	      Select Channel
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="channel-list">
	      <li><a href="#">Action</a></li>
	    </ul>
	  </div>
	  <div style="margin-top:20px;">
	    <h4 id="channelname" class="primary"></h4>
	    <p id="channeldesc"></p>
	  </div>
	</div>		
        <div class="col-md-10 col-sm-10">
	  <div id="chart"></div>
	</div>		
      </div>		
      
    </div>
  </div>
  <!-- End Chart Section -->
   
  
</div>
<!-- End Container -->
{% endblock content %}

{% block partners %}{% endblock  %}
