{% extends "base.html" %}

{% load static %}
{% block title %} <title> Mamase | Visualization </title> {% endblock title %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}"> {% endblock css %}
{% block js_initialize%} 
<!--
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'js/c3.js' %}"></script>-->
<script>

$(document).ready(function() {
///governor camp=16152
///mulot=15792
///mar=16151
$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/"+16151+"/feed.json?start="+dt+"&callback=",
url:"/mamase/api/feed/?channel=1&start=2015-09-01&end=2015-09-10&data=daily",
dataType: "json",
success: function(data) {
feeds = data.feed[0].daily
console.log(feeds)
channel = data.channel[0]
console.log(channel)

/*for (var key in feeds) {
  if (feeds.hasOwnProperty(key)) {
    alert(key + " -> " + feeds[key]);
  }
}*/

console.log(channel.description)
console.log(feeds.count.length)

count=feeds.count
sum=feeds.sum
average=feeds.average
min=feeds.min
max=feeds.max

count_len=count.length
console.log(count)

//loop thru all feeds and collect aggr values
field="";
field_1="";

/*for(var j=0;j<count.length;j++){
	count='field'+j+'__count'	
	//field_1=feeds_count[j].field
	console.log(count)
}*/

//console.log(feeds.length)
//console.log(feeds[2].field2)
//console.log("channel 3"+channel[0].length)
///
channel_obj=Object.keys(channel);// convert to an object
len=channel_obj.length-5;//get length of obj
console.log('length of obj = '+len);//display results

console.log(channel_obj.length)
 
var created = ['created']
var myarry=[];

///
	field = "";
 for(var i=0;i<len;i++){//loop thru all fields
  		  		
      field='field'+(1+i),

      //console.log(":::::"+channel[field])
      
      //define an array to hold field values and 
      //initiate it with field name from channel metadata
     // eval('var field'+ (1+i) + '= ["'+(channel[field])+'"]');//define fields
      eval('var '+field+' = ["'+(channel[field])+'"]');
      //console.log(":::::"+field)

      //eval( console.log(field))

      //console.log(field),
  		//console.log(field +':'+channel[field])

  		//console.log(myfields[field])
 

/*var field1 = [channel.field1]
var field2= [channel.field2]
var field3 = [channel.field3]*/

//console.log("channel description "+channel.description)
$('#channeldesc').html(channel.description);
$('#channelname').html(channel.name);

                    count=['count']
                    sum=['sum']
                    avg=['avg']
                    min=['min']
                    max=['max']

for (var j = 0; j < count_len; j++) {
                    n = feeds.count[j].timestamp;
                    //console.log( 'field date '+n)

                    if(created.length<=count_len) {//if created is shorter than myarry
                    created.push(n)}
                    	

                   //assign the value of the ith field to f1
                    eval('var f1 ='+ 'feeds.count[j].'+field+'__count');
                    

                                   




                    //console.log("my filed")                    
                    //console.log('f1 = '+f1);
                    //created.push(n.replace('T',' ').replace('Z',''));                   
                    
                    //push only defined values of f1
                    if (f1 !=undefined){
                    //console.log('created = '+created);
                   eval(field+'.push(f1)');
                   //console.log(field)
                 }
                   
                    
                 	}
                 	 if (myarry.length ==0){
   					   myarry.push(created)}
						
					     console.log(myarry)

                  //push field to myarry
                 	eval('myarry.push('+field+')')
                 	//console.log('length '+myarry.length)
                                  
                 }
                
                //console.log( 'field date '+myarry[0])
                //console.log( 'length of myarry[0]'+myarry.length)

                /*data=[]
                for (a=0;a<myarry.length;a++){
                	data=data.push(myarry[i])
                	console.log('data '+data)
                } */                        

            //console.log(myarry)
            var chart = c3.generate({
                bindto: '#chart',
                data: {
		    x: 'created',		                      
                    xFormat: '%Y-%m-%d %H:%M:%S',
                    columns: myarry,                    
                },
                 tooltip: {
        grouped: false //one graph at a time
    },
axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H'            
            }
        }
    }
    
            });
        },
    });

$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/public.json?tag=mamase",
url:"/mamase/channel/",
dataType: "json",
success: function(data) {
channel = data

//var theMax = d3.max(channel);


//console.log("Channelssssssssssss")
//console.log(channel.length)

var channel_list = "";
for (var i = 0; i< channel.length; i++) {
               channel_list += '<li id="'+channel[i].id+'" onclick="drawChart(this.id)"><a href="#">'+channel[i].name+'</a></li>';
               }
		   $('#channel-list').html(channel_list);
		   //drawChart(channel[0].id);
	       }
               });
	       

});
///Sun Sep 20 2015 22:53:38 GMT+0300 (EAT)
</script>
<script>
var dt = new Date();
dt.setHours(dt.getHours()-804);//Time is in hours. 3.5 days ago
dt = dt.toISOString();


function drawChart(id){
$.ajax({
type: 'GET',
//url : "http://api.thingspeak.com/channels/"+id+"/feed.json?start="+dt+"&callback=",
//url:"/mamase/api/feed/?channel="+id,
url:"/mamase/api/feed/?channel="+id,//+"&start="+dt,//2015-09-19%2009:10:49
dataType: "json",
success: function(data) {
  feeds = data.feed
channel = data.channel[0]
//console.log(channel)


///
channel_obj=Object.keys(channel);// convert to an object
len=channel_obj.length-5;//get length of obj
//console.log('length of obj = '+len);//display results

///
 
var created = ['created']
var myarry=[];
///
  field = "";
 for(var i=0;i<len;i++){//loop thru all fields
            
      field='field'+(1+i),
      
      //eval('var field'+ (1+i) + '= ["'+(channel[field])+'"]');//define fields
      eval('var '+field+' = ["'+(channel[field])+'"]');

   

//console.log("channel description "+channel.description)
$('#channeldesc').html(channel.description);
$('#channelname').html(channel.name);
for (var j = 0; j < feeds.length; j++) {
                    n = feeds[j].added_formatted;

                    if(created.length<=feeds.length) {//if created is not in myarry
                    created.push(n)}
                      
                   
                    eval('f1 ='+ 'feeds[j].'+field);
                    //console.log('f1 = '+f1);
                    //created.push(n.replace('T',' ').replace('Z',''));
                    
                    

                    
                    if (f1 !=undefined){
                    //console.log('created = '+created);
                   eval(field+'.push(f1)');}
                   
                    
                  }
                   if (myarry.length ==0){
               myarry.push(created)}
            
          //console.log(myarry)

                  eval('myarry.push('+field+')')
                  //console.log('length '+myarry.length)

                 }
                
                //console.log( 'field date '+myarry[0])

            var chart = c3.generate({
                bindto: '#chart',
                data: {
        x: 'created',                         
                    xFormat: '%Y-%m-%d %H:%M:%S',
                    columns: myarry,                    
                },
          tooltip: {
        grouped: false //one graph at a time
        },
axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d %H'            
            }
        }
    }
            });
        },
    });
}

</script>
{% endblock js_initialize %}

{% block body_class %}visual-index{% endblock %}

{% block content %}
<!-- Container -->
<div id="container">  
  <!-- Start Chart Section -->
  <div class="pricing-section" style="padding-top:60px; padding-bottom:60px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
	  
          <!-- Text -->
          <p class="text-center" style="margin-bottom:20px;">Low cost stations in the Mara River Basin collect real time data. Here the open access data can be viewed. Click one of the channels to view data of your interest.</p>
        </div>
      </div>
      
      <div class="row pricing-tables">
        <div class="col-md-2 col-sm-2">
	  <div class="dropdown">
	    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	      Select Channel
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="channel-list">
	      <li><a href="#">Action</a></li>
	    </ul>
	  </div>
	  <div style="margin-top:20px;">
	    <h4 id="channelname" class="primary"></h4>
	    <p id="channeldesc"></p>
	  </div>
	</div>		
        <div class="col-md-10 col-sm-10">
	  <div id="chart"></div>
	</div>		
      </div>		
      
    </div>
  </div>
  <!-- End Chart Section -->
   
  
</div>
<!-- End Container -->
{% endblock content %}

{% block partners %}{% endblock  %}
