	{% extends "base.html" %}

	{% load static %}
	{% load wagtailcore_tags %}

	{% block title %}<title>MaMaSe| Search{% if search_results %} results{% endif %} </title>{% endblock %}
	 {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker3.css' %}"> 
    {% endblock %}
	{% block content %}

	<div id="content">
		<div class="page-banner"></div>
	</div>
	<div id="content">
		<div class="container">			
			<div class="row">
				<div class="col-md-12">                                                 
					<!-- Classic Heading -->
					<h4 class="classic-title"><span>Advanced Search</span> </h4>        
					<form role="form" class="contact-form" id="contact-form" method="get" action="{% url 'avresults' %}">
						<h5>Find pages with .....</h5>
						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="All these words" name="all">
							</div>
						</div>
						<!--<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Any of these words" name="any">
							</div>
						</div>-->

						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Added by this user" name="user"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Creation after...." name="date" id="daterange-btn"></input>
							</div>
						</div>	
						<div class="form-group">
							<label for="seltype">Select Content type:</label>
							<select class="form-control" id="seltype" name="type">
								<!--<option>All</option>-->
								<option>Articles</option>
								<option>Documents</option>
								<option>Images</option>
							</select>
						</div>
						<div style="text-align: center;">
							<button type="submit" id="submit" class="btn-system btn-large">Search</button>
						</div>
						<div id="success" style="color:#34495e;"></div>
					</form>                          
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block js%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{% static 'js/bootstrap-datepicker.js	' %}"></script>
	<script type="text/javascript">
	$(function () {
        //Date range as a button
        $('#daterange-btn').datepicker(
            {
            	format: 'yyyy-mm-dd',
            	startDate: '-10y',
      });
        });
    
</script>
	{% endblock %}
{% block js_initialize %}{% endblock js_initialize %}