	{% extends "base.html" %}

	{% load static %}
	{% load wagtailcore_tags %}

	{% block title %}<title>MaMaSe| Search{% if search_results %} results{% endif %} </title>{% endblock %}

	{% block content %}

	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">                                                 
					<!-- Classic Heading -->
					<h4 class="classic-title"><span>Advanced Search</span> </h4>        
					<form role="form" class="contact-form" id="contact-form" method="get" action="{% url 'results' %}">
						<h5>Find pages with .....</h5>
						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="All these words" name="all">
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Any of these words" name="any">
							</div>
						</div>

						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Added by this user" name="user"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="text" placeholder="Created on" name="created">
							</div>
						</div>
						<div class="form-group">
							<label for="seltype">Select Content type:</label>
							<select class="form-control" id="seltype" name="type">
								<option>All</option>
								<option>Articles</option>
								<option>Documents</option>
								<option>Images</option>
							</select>
						</div>
						<div style="text-align: center;">
							<button type="submit" id="submit" class="btn-system btn-large">Search</button>
						</div>
						<div id="success" style="color:#34495e;"></div>
					</form>                          
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block partners%}{% endblock %}
